<div class="ui four column grid">
    <div class="column" style="background-color: #808080c9;"*ngFor="let repo of repos">
      <a [href]="repo.html_url">
        <div class="ui card">
          <div class="image">
            <img [src]="repo.owner.avatar_url">
          </div>
          <div class="content">
            <a class="header" style="margin: 1em 0 1em 0;">{{ repo.name }}</a>
            <span class="date" style="font-weight: bolder;">Created : {{ repo.created_at }}</span>
            <div class="meta">
              <p> <i class="star icon"></i> {{repo.stargazers_count}} Stars  <i class="eye outline icon">  </i> {{repo.watchers}} Watchers</p>
              <p> <i class="code branch icon"></i> {{repo.forks}} Forks </p>
              <p> <i class="code icon"></i> {{repo.open_issues}} Open Issues </p>
            </div>
            <div class="description">
              {{ repo.description}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
